@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500&family=Poppins:wght@500;600;800;900&display=swap");
* {
  font-family: "IBM Plex Serif", serif;
  letter-spacing: 0.5px;
}
#navbarSupportedContent {
  margin-top: -15px;
}

.headercontainer {
  padding-right: 8.2%;
  padding-left: 8.2%;
}
.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
.logoposition {
  height: 55px;
  margin-left: -25px;
  position: relative;
  top: -8px;
}

.nav-background {
  background: url("../img/background1.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-item a {
  font-size: 27px;
}
.form-inline a {
  font-size: 14px;
  padding-left: 25px;
  font-weight: 400;
  line-height: 1px;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
.loginsignupicon {
  display: flex;
}
.loginsignupicon label {
  padding-left: 5px;
}

div.banner-outside {
  height: 100%;
  width: 100%;
  padding-top: 158px;
  padding-bottom: 100px;
}

div.banner {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.banner a {
  padding: 13px 30px 13px;
  border: 1px solid white;
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  position: relative;
  top: 20px;
}
div.banner a:hover {
  background-color: #fff;
  color: purple;
}
div.banner p {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 400;
}
div.banner h1 {
  font-size: 44px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
